
/* ToDo adjust size  */
.MazeWrapper {
  position: relative;
  margin: 0 auto;
}

.Line {
  height: 37px;
}

.Item {
  color: blue;
  width: 36px;
  height: 36px;
  display: inline-block;
  border: 1px solid white;
  margin-left: -1px;
}

.Item_top {
  border-top: 1px solid green;
}

.Item_bottom {
  border-bottom: 1px solid green;
}

.Item_left {
  border-left: 1px solid green;
}

.Item_right {
  border-right: 1px solid green;
}

.Item_start {
  background: #b8c1f5;
}

.Item_end {
  background: #b8f5c0;
}
